body {
	background-color: #B6B6B6;
	background: url("master/DSC_0048kiss.jpg");
	font-style: Helvetica, sans-serif;
}

h1 {
	color: #0097A7;
	font-style: sans-serif;
	font-size: 50px;
}

h2 {
	color: #B2EBF2;
}
#slogan {
	font-color: #ffffff;
	font-style: italic;
}
